name: Deploy to git 

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        driver: docker-container

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          ghcr.io/${{ github.repository_owner }}/excel-csv-converter:latest
          ghcr.io/${{ github.repository_owner }}/excel-csv-converter:${{ github.sha }}
        cache-from: type=gha
        cache-to: type=gha,mode=max

    
   
    
